.block
  padding: 42px 37px 53px 43px
  &__header
    display: flex
    justify-content: space-between
    border-bottom: 1px solid #E2E2E4
  &__header-right
    display: flex
    align-items: center
  &__info
    cursor: pointer
    color: rgba(0, 0, 0, .34)
    position: relative
    top: -6px
    font-size: em(18, 16)

