.filter-form
  display: flex
  flex-direction: column
  &__top-row
    display: flex
    justify-content: space-between
  &__bottom-row
    display: flex
    justify-content: space-between
  &__checkboxes
    display: flex
    flex-direction: column
