.header
  display: flex
  align-items: center
  justify-content: space-between
  &__title
    margin: 0

.currency
  &__sign
    line-height: 30px
    width: 30px
    background-color: $green
    margin: 0 auto
    display: inline-block
    border-radius: 50%
    text-align: center
    color: $white
