.table
  text-align: center
  .odd
    background-color: #f5f5f5
  &__body
    font-family: $franklinLight
    font-size: em(16, 16)
    line-height: 20px
    color: #707070
  &__body-row
    height: 60px
    border-bottom: 1px solid #E2E2E4
  &__head-row
    font-family: $franklinRegular
    font-size: em(18, 16)
    line-height: 22px
    color: #414141
    border-bottom: 1px solid #E2E2E4

.table-block
  box-shadow: 0px 3px 25px rgba(#000000, .15)
  padding: 18px 37px 39px 43px
  background-color: #fff
  position: relative
  top: -68px
  .block__header
    margin-bottom: 9px
  .checkbox
    padding-left: 43px
    margin-right: 44px

.score
  background-color: #e2e2e4
  color: $white
  width: percent(158, 227)
  margin: 0 auto
  height: 25px
  position: relative
  &__fill
    position: absolute
    background-color: #f39c12
    left: 0
    height: 100%
    z-index: 2
  &__text
    position: absolute
    left: 0
    right: 0
    top: 3px
    bottom: 0
    z-index: 3


// rewrite default datatables.css
table.dataTable thead th, table.dataTable thead td,
table.dataTable.no-footer
  border-bottom: 1px solid #E2E2E4
  padding: 10px 0
  padding-top: 4px

table.dataTable tbody th, table.dataTable tbody td
  padding: 18px 0

// hide some rows on small devices
table.dataTable thead tr td:nth-child(5),
table.dataTable thead tr td:nth-child(6),
table.dataTable thead tr td:nth-child(7),
table.dataTable thead tr td:nth-child(8),
table.dataTable thead tr td:nth-child(9),
table.dataTable tbody tr td:nth-child(5),
table.dataTable tbody tr td:nth-child(6),
table.dataTable tbody tr td:nth-child(7),
table.dataTable tbody tr td:nth-child(8),
table.dataTable tbody tr td:nth-child(9),
    +breakpoint($ltTablet)
      display: none
