.week-chart-svg
  &__main-group
    transform: translate(0, 10px)
  &__views-axis
    transform: translate(100%, 0)
  &__dates-axis
    transform: translate(0, 275px)
  &__views-rect
    fill: $blue
    fill-opacity: .5
