include ./select
include ./legend

mixin channel_perfomance()
    section.block.block--left.block--big.channel-perf
        .block__header
            .block__header-left
                h4.heading.heading--dark-black Channel Performance
                    i.icon-info.icon-info--small-top
            .block__header-right
                +select(['Conversions', 'Adv', 'Listening Now', 'Vinnie Paz'], modifiers=['green'])
        .block__content
            svg.channel-perf__svg
            +legend([{color: 'blue', name: 'New'}, {color: 'orange', name: 'Returning'}])
