include ./select
include ./legend

mixin channel_split()
    section.block.block--right.block--small.channel-split
        .block__header
            .block__header-left
                h4.heading.heading--dark-black Channel Split
                    i.icon-info
            .block__header-right
                +select(['Conversions', 'Adv', 'Listening Now', 'Vinnie Paz'])
        .block__content
            svg.channel-split__svg
            +legend([{color: 'blue', name: 'Social'}, {color: 'green', name: 'Video'}])
