include ./select
include ./checkbox
include ./button

mixin filter_form(items)
    .container
        form.filter-form
            .filter-form__top-row
                each item in items
                    +select(item.values)
                .date-input__wrp
                    input.date-input(type="text" placeholder="11/Nov/2017 - 08/Feb/2018")
                    i.date-input__icon.icon-calendar
            .filter-form__bottom-row
                .filter-form__checkboxes
                    +checkbox('Use Agency Yield')
                    +checkbox('Conversion Breakdown')
                .filter-form__download-button
                    +button('Export Excel', 'submit', 'download')

