mixin header(title, currencySign, currencyName)
    .container
        header.header
            h1.header__title= title
            div.currency
                span.currency__sign= currencySign
                span.currency__name= currencyName