mixin header(title, currencySign, currencyName)
    .container
        header.header
            h1.header__title.heading.heading--green= title
            div.currency.header__currency
                span.currency__sign= currencySign
                span.currency__name= currencyName