mixin select(values, modifiers=[])
    - var classNames = ['select'];
    - modifiers.forEach(function(modifier) { classNames.push('select--' + modifier)})
    select(class=classNames)
        each value in values
            option.select__option(value=value)= value
