include ./select
include ./legend

mixin stats()
    section.block.block--big.block--right.stats
        .block__header
            .block__header-left
                h4.heading.heading--dark-black Channel Performance
                    i.icon-info.icon-info--small-top
            .block__header-right
                +select(['Conversions', 'Adv', 'Listening Now', 'Vinnie Paz'], modifiers=['green'])
        .block__content
            svg.stats__svg
            +legend([{color: 'green', name: 'Conversions'}, {color: 'blue', name: 'Conversions'}])
