//====================== Fonts
$franklinBlack: "LibreFranklinBlack"
$franklinBlackItalic: "LibreFranklinBlackItalic"
$franklinBold: "LibreFranklinBold"
$franklinBoldItalic: "LibreFranklinBoldItalic"
$franklinExtraBold: "LibreFranklinExtraBold"
$franklinExtraBoldItalic: "LibreFranklinExtraBoldItalic"
$franklinExtraLight: "LibreFranklinExtraLight"
$franklinExtraLightItalic: "LibreFranklinExtraLightItalic"
$franklinItalic: "LibreFranklinItalic"
$franklinLight: "LibreFranklinLight"
$franklinLightItalic: "LibreFranklinLightItalic"
$franklinMedium: "LibreFranklinMedium"
$franklinMediumItalic: "LibreFranklinMediumItalic"
$franklinRegular: "LibreFranklinRegular"
$franklinSemiBold: "LibreFranklinSemiBold"
$franklinSemiBoldItalic: "LibreFranklinSemiBoldItalic"
$franklinThin: "LibreFranklinThin"
$franklinThinItalic: "LibreFranklinThinItalic"
//====================== End fonts

//====================== Colors
$green: #44B900
$orange: #F39C12
$white: #FFFFFF
$gray: #989898
$blue: #00B7F1
//====================== End Colors

//====================== Breakpoints
$laptopL: 1440px
$laptop: 1024px
$tablet: 768px
$mobileL: 425px
$mobileM: 375px
$mobileS: 320px
// from 320 to 1440px
$ltLaptopL: $mobileS $laptopL
// from 320 to 1024
$ltLaptop: $mobileS $laptop
// et cetera...
$ltTablet: $mobileS $tablet
$ltMobileL: $mobileS $mobileL
$ltMobileM: $mobileS $mobileM




