extends ./pug/layout

include ./pug/components/filter_form
include ./pug/components/header
include ./pug/components/banner

block content
    +header('Analytics', '$', 'aud')
    +filter_form([
        {
        values: ['Use Agency Yield 1', 'Use Agency Yield 2', 'Use Agency Yield 3', 'Use Agency Yield 4'] 
        },
        {
        values: ['Use Agency Yield 1', 'Use Agency Yield 2', 'Use Agency Yield 3', 'Use Agency Yield 4'] 
        },
        {
        values: ['Use Agency Yield 1', 'Use Agency Yield 2', 'Use Agency Yield 3', 'Use Agency Yield 4'] 
        }
    ])
    +banner([
        {
            text: 'impressions',
            value: '1,475,298'
        },
        {
            text: 'clicks',
            value: '13,935'
        },
        {
            text: 'goal achievement',
            value: '448%'
        },
        {
            text: 'spent budget',
            value: '$4,447'
        }
    ])

