extends ./pug/layout

include ./pug/components/filter_form
include ./pug/components/header
include ./pug/components/banner
include ./pug/components/table
include ./pug/components/channel-perfomance
include ./pug/components/channel-split

block content
    +header('Analytics', '$', 'aud')
    +filter_form([
        {
        values: ['Use Agency Yield 1', 'Use Agency Yield 2', 'Use Agency Yield 3', 'Use Agency Yield 4'] 
        },
        {
        values: ['Use Agency Yield 1', 'Use Agency Yield 2', 'Use Agency Yield 3', 'Use Agency Yield 4'] 
        },
        {
        values: ['Use Agency Yield 1', 'Use Agency Yield 2', 'Use Agency Yield 3', 'Use Agency Yield 4'] 
        }
    ])
    +banner([
        {
            text: 'impressions',
            value: '1,475,298'
        },
        {
            text: 'clicks',
            value: '13,935'
        },
        {
            text: 'goal achievement',
            value: '448%'
        },
        {
            text: 'spent budget',
            value: '$ 4,447'
        }
    ])
    +table([
        {
            campaign: 'CRoger pen',
            impressions: '1,475,298',
            clicks: '13,935',
            conversions: '448%',
            spend: '$4,447',
            achievement: '40%',
            cpm: '$2.36',
            cpc: '$2.36',
            ctr: '$2.36',
            score: '7'
        },
        {
            campaign: 'BRoger pen',
            impressions: '1,475,298',
            clicks: '13,935',
            conversions: '448%',
            spend: '$4,447',
            achievement: '40%',
            cpm: '$2.36',
            cpc: '$2.36',
            ctr: '$2.36',
            score: '5'
        },
        {
            campaign: 'LRoger pen',
            impressions: '1,475,298',
            clicks: '13,935',
            conversions: '448%',
            spend: '$4,447',
            achievement: '50%',
            cpm: '$2.36',
            cpc: '$2.36',
            ctr: '$2.36',
            score: '2'
        },
        {
            campaign: 'ARoger pen',
            impressions: '1,475,298',
            clicks: '13,935',
            conversions: '448%',
            spend: '$4,447',
            achievement: '20%',
            cpm: '$2.36',
            cpc: '$2.36',
            ctr: '$2.36',
            score: '3'
        }
    ])
    .container
        .charts-row
            +channel_perfomance()
            +channel_split()

